<div id="<%= dom_id result_motive %>">
  <p>
    <strong>Name:</strong>
    <%= result_motive.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= result_motive.description %>
  </p>

</div>
